<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear categoría</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Crear nueva categoría</h1>
    <form action="/categorias3" method="POST">
        <label for="nombre">Nombre de la categoría:</label>
        <input type="text" name="nombre" required>
        <button type="submit">Crear</button>
    </form>
</body>
</html>