<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Item</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Detalles de Item</h1>
    <p><strong>Id:</strong> <%= item.id %></p>
    <p><strong>Descripción:</strong> <%= item.descripcion %></p>
    <a href="/inventario">Volver al inventario</a>
</body>
</html>